<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Мой сайт{% endblock %}</title> <!-- Заголовок страницы, который можно переопределить -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"> <!-- Подключение CSS -->
</head>
<body>
    <header>
        <h1>Добро пожаловать на мой сайт!</h1>
        <nav>
            <ul>
                <a href="/registration/">Зарегистрироваться</a>
                <a href="/login/">Войти</a>
            </ul>
        </nav>
        <hr align="center" width="500" size="2" color="#ff0000" />
        <br />
    </header>

    <main>
        {% block content %} <!-- Блок для контента страниц, который будет переопределен -->
        {% endblock %}
    </main>

    <footer>
        <p>© 2024 Мой сайт. Все права защищены.</p>
    </footer>
</body>
</html>
